.splash-container {
	background:
    /*linear-gradient(
      rgba(31, 141, 214, 0.75),
      rgba(31, 141, 214, 0.75)
    ),*/
    linear-gradient(
      rgba(31, 31, 31, 0.90),
      rgba(31, 31, 31, 0.90)
    ),
    url('/img/big-hero.png');
	/*background-image: url('/img/big-hero.png');*/
	background-attachment: fixed;
	background-size: 100%;
}

.ribbon-content {
	margin: 0 auto;
}