<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="A layout example that shows off a responsive product landing page.">
  <title>Moebio Framework</title>
  <link rel="stylesheet" href="{{ site.baseurl }}/css/pure-min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/grids-responsive-min.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/font-awesome.css">
  <link rel="stylesheet" href="{{ site.baseurl }}/css/layouts/marketing.css">

  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
      <a class="pure-menu-heading" href="{{ site.baseurl }}/index.html">Moebio/Logo</a>

      <ul class="pure-menu-list">
        <li class="pure-menu-item"><a href="{{ site.baseurl }}/getting-started.html" class="pure-menu-link">Getting Started</a></li>
        <li class="pure-menu-item"><a href="{{ site.baseurl }}/fw_docs/index.html" class="pure-menu-link">Documentation</a></li>
        <li class="pure-menu-item"><a href="{{ site.baseurl }}/community.html" class="pure-menu-link">Community</a></li>
      </ul>
    </div>
  </div>

  {{ content }}

  <div class="footer l-box is-center">
    Moebio is developed by ... and sponsored by ...
    <span class='social-icons right'>
      <i class="fa fa-github-square"></i>
      <i class="fa fa-twitter-square"></i>
    </span>
  </div>

</div>






</body>
</html>
